<p id="notice"><%= notice %></p>

<p>
  <strong>Present:</strong>
  <%= @attendance.present %>
</p>

<p>
  <strong>Absent:</strong>
  <%= @attendance.absent %>
</p>

<p>
  <strong>Late:</strong>
  <%= @attendance.late %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
